*.mp4
*.avi
*.jpg
*.jpeg
*.png

# executable file
*.exe
lightup_pthread
lightup_pthread_2
lightup_sequential
white_balance_sequential
gray_world_algorithm
gray_world_openmp
gray_world_pthread
video_openmp
video_sequential
IO_test
video_pthread_TDM
video_openmp_TDM
video_openmp_task
task_parallel
